Repository lenianiva/lean4-nix, pull requests merged in 2025-06, with the labels that each got.

#53 feat: Manifest v4.20.0
  manifests/default.nix
  manifests/v4.20.0.nix
  templates/dependency/lake-manifest.json
  templates/dependency/lakefile.lean
  templates/dependency/lean-toolchain
  templates/minimal/lean-toolchain
Labels: part/manifest

#55 feat: v4.20.1 manifest
  manifests/default.nix
  manifests/v4.20.1.nix
  templates/dependency/lean-toolchain
  templates/minimal/lean-toolchain
Labels: feature, part/manifest

#56 fix: Mimalloc build in sandboxed environments
  manifests/v4.19.0.nix
Labels: bug, part/manifest

#52 feat: Support mimalloc in v4.19.0
  manifests/v4.19.0.nix
Labels: feature, part/manifest
